.padWrapper{
	display: inline-block;	
	width: 25%;
	padding: 2px;
}

.pad{
	display: block;
	width: 100%;
	color: #2c3e50;
	font-weight: 900;
	font-size: 16px;
	/*text-transform: uppercase;*/

	background: #bdc3c7;

	/*border: 1px solid #bdc3c7;*/
	border: 0;
	border-radius: 5px;
	box-shadow: 0px 0px 0px 2px #E2E2E2;

	text-align: center;
	line-height: 120px;
	
	transition: 0.1s background ease, 0.1s outline ease;
}

.pad:active,
.pad:focus{
	outline: none;
	background: #f1c40f;
}

.padWrapper.is-highlighted {
}

.padWrapper.is-highlighted .pad {
  background: #1abc9c;
}
